*{ font-family: Arial, Helvetica, sans-serif;
}



/* nav style start */
header{
          background-image: url(/img/Hero-bg.png);
          height: 500px;
}
nav{
          display: flex;
          justify-content: space-between;
          margin-left: 50px;
          margin-right: 50px;
          align-items: center;
}


nav h1{
          font-size: 85px;
          color: blue;
}  

nav ul li {
          list-style: none;
         

}
nav ul li a button{
          
          color: white;
          background-color: blue;
          width: 88px;
          padding: 10px 0;
          border: none;
          border-radius:5px ;
          
}

/* nav style end */


        /* baneer style start */
.baneer{
        
          margin-bottom: 50px;
         text-align: center;
}

.btn-class{
          background-color: blue;
          max-width:120px;
          padding: 10px;
          color: white;
          font-weight: bold;
          border: none;
          border-radius: 8px;
}
/* baneer style end */

/* main style start */

main{
            max-width: 1140px;
            margin: 0 auto;
}

/* main style end */

/* action style start */
#section-id{
          display: flex;
          justify-content: space-between;
          margin-top: 100px;
}

.action-img{
          width: 500px;
          border-radius: 10px;
}

 .action-btn{
          background-color: blue;
          width:200px;
          padding: 10px;
          color: white;
          font-weight: bold;
          border: none;
          border-radius: 8px;
} 



/* action style end */

/* productive user section style start */
.user-info{

          text-align: center;
          background-color:rgb(167, 163, 159);
          border-radius: 10px;
          

}
.user{
          color: blue;
          font-size: 90px;
}
.div-2{
          display: flex;
          justify-content: space-around;
}
div-2 h3{
        margin: 0;
}



.user-title{
          padding-top: 100px;
         
}


/* productive user section style end */

/* productive user section style end */

/* form style start */

.form-class{
          margin-top: 130px;
          margin-bottom: 130px;
          display: flex;
          justify-content: space-between;
}
/* form style end */

/*footer section strat*/

footer{
          margin-top: 100px;
          text-align: center;
          max-width: 1140PX;
          margin: 0 auto;
} 

.footer-title{
          font-size: 90px;
          font-weight: 700;
          
}

.footer-itmes{
          display: flex;
          justify-content: space-around;
}



/*footer section end*/


/* card section start*/

.card{
        max-width: 1140px;
       
        margin: 0 auto;

        margin-bottom: 100px;
}

.cards{
        width: 350px;
        border-radius: 10px;
        float: left;
        text-align: center;
        margin:5px;
        background-color: beige;
        padding: 10px;
        

}
/* care section end*/

/*button style start*/

.efect{
        max-width: 1140px;
        margin: 0 auto;
        margin-top: 100px;
}

.click-btn{
          width: 600px;
          color:white;
          background-color: blue;

}

button:hover{

          background-color: rgb(75, 75, 163);
          color: red;

}

/*button style end*/


